

<div class="container-produkte">
  <% @produkte.each do |produkt| %>
    <%= link_to produkte_cards_path(produkt) do%>
      <div class="produkte-item">
        <h2><%= produkt.tittle%></h2>
        <h5><%= produkt.description %></h5>
      </div>
    <%end %>
  <% end %>
</div>
